body {
  margin: 0;
  padding: 0;
  background-color: #d8d4c8;
}
.wrap {
  width: 450px;
  height: 705px;
  margin: 20px auto;
  box-shadow: 0 0 28px -5px;
}
.wrap .content {
  width: 100%;
  height: 570px;
  background-color: #f3efe3;
}
.wrap .content .album {
  width: 100%;
  height: 429px;
  position: relative;
}
.wrap .content .album img {
  position: absolute;
  bottom: 0;
  left: 19.5px;
  display: block;
  width: 411px;
  height: 411px;
}
.wrap .content .detalis {
  width: 100%;
  height: 141px;
  overflow: hidden;
}
.wrap .min-sec {
  margin-left: 18px;
  text-align: center;
  line-height: 141px;
  font-size: 63px;
  color: #ffa895;
  width: 174px;
  font-weight: 100;
  float: left;
  letter-spacing: -4px;
}
.wrap .title-artist {
  max-width: 248px;
  float: left;
  line-height: 34.5px;
  margin-top: 35px;
  margin-left: 9px;
}
.wrap .title-artist #id-span-title {
  color: #6b6a66;
  font-size: 22.5px;
}
.wrap .title-artist #id-span-artist {
  color: #cac6ba;
  font-size: 18px;
}
.wrap .control .progress-bar {
  width: 100%;
  height: 30px;
  background-color: #e19484;
}
.wrap .control .progress-bar #id-div-fill {
  height: inherit;
  width: 0%;
  background-color: #ffa895;
  transition: width 1s;
}
.wrap .control .controler {
  width: 100%;
  background-color: #5a4450;
  height: 105px;
  line-height: 105px;
  font-size: 36px;
  letter-spacing: 15px;
  overflow: hidden;
}
.wrap .control .controler .main {
  margin-left: 18px;
  float: left;
  color: #f3efe3;
  padding-left: 22.5px;
}
.wrap .control .controler .main i:active {
  color: #32272d;
}
.wrap .control .controler .other {
  float: right;
  color: #32272d;
  padding-right: 15px;
}
.wrap .control .controler .other i:active {
  color: #f3efe3;
}
i {
  cursor: pointer;
}
.main #id-i-pause {
  display: none;
}
.main #id-input-togglePlay {
  display: none;
}
.main #id-input-togglePlay:checked + #id-i-play + #id-i-pause {
  display: inline-block !important;
}
.main #id-input-togglePlay:checked + #id-i-play {
  display: none;
}
