body {
  margin: 0;
}
h1 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  border: none;
  padding: 0;
}
a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}
h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
header {
  padding-bottom: 100px;
}
header nav {
  height: 100px;
  background-color: #020c18;
  position: fixed;
  overflow: hidden;
  z-index: 2;
  width: 100%;
}
header nav #id-div-logo {
  padding: 54px 3px 0 3px;
  height: 76px;
  margin-left: 10.41666667%;
  line-height: 22px;
  background: url(../images/logo.png) no-repeat 0 20px;
  float: left;
}
header nav #id-div-logo h1 {
  color: #00a1e9;
  font-size: 22px;
  letter-spacing: 27px;
  font-weight: normal;
}
header nav #id-div-menu {
  white-space: nowrap;
  float: right;
  padding-top: 29px;
  width: 536px;
  margin-right: 10.41666667%;
  height: 46px;
}
header nav #id-div-menu::after {
  content: ".";
  display: block;
  visibility: hidden;
}
header nav #id-div-menu ul {
  display: inline-block;
  height: 46px;
  line-height: 46px;
  color: white;
  font-size: 18px;
  word-spacing: 26px;
  letter-spacing: 1px;
}
header nav #id-div-menu ul li {
  display: inline-block;
}
header nav #id-div-menu ul li:hover,
header nav #id-div-menu ul li.active {
  color: #00a1e9;
}
header nav #id-div-menu ul li:nth-of-type(1) span {
  color: black;
  user-select: none;
}
header nav #id-div-menu .btn {
  display: inline-block;
  width: 122px;
  height: 42px;
  line-height: 40px;
  text-align: center;
  margin-left: 27px;
  color: white;
  background: url(../images/btn.png) 0 44px;
  letter-spacing: 1px;
  font-size: 19px;
}
header nav #id-div-menu .btn:hover {
  cursor: pointer;
  background: url(../images/btn.png) no-repeat;
}
#go-to-top {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: black;
  opacity: 0.6;
  position: fixed;
  right: 5%;
  top: 80%;
  color: white;
  cursor: pointer;
  transition: 0.6s;
}
#go-to-top:hover {
  opacity: 1;
}
section.show-item-col {
  margin-top: 160px;
}
section.show-item-col .head {
  margin-bottom: 120px;
}
section.show-item-col .head .title {
  margin-bottom: 14px;
  color: #020c18;
  text-align: center;
  display: block;
  height: 35px;
  line-height: 35px;
  font-size: 35px;
  letter-spacing: 5px;
}
section.show-item-col .head .hr {
  font-size: 35px;
  display: block;
  margin: 0 auto;
  width: 2.5em;
  box-sizing: border-box;
  background-color: #00a1e9;
  border-radius: 5px;
  height: 7px;
}
section.show-item-col .head .title-eng {
  margin-top: 27px;
  letter-spacing: 10px;
  word-spacing: 10px;
  color: #4d4d4d;
  height: 28px;
  line-height: 28px;
  font-size: 28px;
  text-align: center;
  display: block ;
}
body {
  min-width: 1520px;
}
#id-div-pic {
  width: 100%;
  padding-top: 186px;
  background: url(../images/2-top-img.jpg);
  background-size: cover;
  height: 284px;
}
#id-div-pic img {
  display: block;
  max-width: 100%;
  height: auto;
}
#id-div-pic span {
  display: block;
  text-align: center;
  color: white;
}
#id-div-pic .title {
  margin: 0 auto;
  height: 48px;
  line-height: 48px;
  font-size: 48px;
  margin-bottom: 44px;
  font-weight: bold;
}
#id-div-pic .description {
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}
section.show-item-col .content {
  width: 1520px;
  margin: 0 auto;
}
section.show-item-col .content.backstage-display {
  margin-bottom: 240px;
}
section.show-item-col .content.backstage-display .row {
  white-space: nowrap;
  display: flex;
  margin-top: 38px;
}
section.show-item-col .content.backstage-display .item {
  vertical-align: top;
  box-sizing: border-box;
  display: inline-block;
  width: 480px;
  height: 640px;
  background-size: contain;
  background: url(../images/backstage-display-bg.jpg) no-repeat;
  padding-top: 104px;
}
section.show-item-col .content.backstage-display .item:nth-of-type(2) {
  margin: 0 34px;
  clear: both;
}
section.show-item-col .content.backstage-display .item:hover {
  background-color: #c8b8bb;
  background-image: none;
}
section.show-item-col .content.backstage-display .item:hover .description {
  display: none;
}
section.show-item-col .content.backstage-display .item img {
  display: block;
  margin: 0 auto;
  margin-bottom: 77px;
}
section.show-item-col .content.backstage-display .item span {
  text-align: center;
  display: block;
  color: white;
}
section.show-item-col .content.backstage-display .item .title {
  font-size: 36px;
  height: 36px;
  margin-bottom: 40px;
  letter-spacing: 6px;
}
section.show-item-col .content.backstage-display .item .description {
  letter-spacing: 4px;
  line-height: 28px;
  height: 24px;
  font-size: 24px;
  padding: 0 40px 0;
  white-space: normal;
}
section.show-item-col .content + .pic-show img {
  display: block;
  width: 100%;
  height: auto;
}
footer {
  height: 351px;
  background-color: #051223;
  padding-top: 81px;
}
footer span {
  display: block;
  text-align: center;
}
footer .title {
  font-size: 24px;
  height: 24px ;
  line-height: 24px;
  margin-bottom: 59px;
  color: white;
}
footer .normal {
  color: white;
  height: 18px;
  line-height: 18px;
  font-size: 18px;
  margin-top: 24px;
}
footer .right {
  font-size: 16px;
  height: 16px;
  line-height: 16px;
  margin-top: 123px;
  color: #85888c;
}
