body {
  margin: 0;
}
h1 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  border: none;
  padding: 0;
}
a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}
h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
body {
  min-width: 980px;
  background-color: white;
}
header {
  padding-bottom: 100px;
}
header nav {
  height: 100px;
  background-color: #020c18;
  position: fixed;
  overflow: hidden;
  z-index: 2;
  width: 100%;
}
header nav #id-div-logo {
  padding: 54px 3px 0 3px;
  height: 76px;
  margin-left: 10.41666667%;
  line-height: 22px;
  background: url(../images/logo.png) no-repeat 0 20px;
  float: left;
}
header nav #id-div-logo h1 {
  color: #00a1e9;
  font-size: 22px;
  letter-spacing: 27px;
  font-weight: normal;
}
header nav #id-div-menu {
  white-space: nowrap;
  float: right;
  padding-top: 29px;
  width: 536px;
  margin-right: 10.41666667%;
  height: 46px;
}
header nav #id-div-menu::after {
  content: ".";
  display: block;
  visibility: hidden;
}
header nav #id-div-menu ul {
  display: inline-block;
  width: 382px;
  height: 46px;
  line-height: 46px;
  color: white;
  font-size: 18px;
  word-spacing: 26px;
  letter-spacing: 1px;
}
header nav #id-div-menu ul li {
  display: inline-block;
}
header nav #id-div-menu ul li:hover,
header nav #id-div-menu ul li.active {
  color: #00a1e9;
}
header nav #id-div-menu ul li:nth-of-type(1) span {
  color: black;
  user-select: none;
}
header nav #id-div-menu .btn {
  display: inline-block;
  width: 122px;
  height: 42px;
  line-height: 40px;
  text-align: center;
  margin-left: 27px;
  color: white;
  background: url(../images/btn.png) 0 44px;
  letter-spacing: 1px;
  font-size: 19px;
}
header nav #id-div-menu .btn:hover {
  cursor: pointer;
  background: url(../images/btn.png) no-repeat;
}
#id-div-slide-show ul.images {
  display: block;
  position: relative;
  width: 100%;
}
#id-div-slide-show ul.images img {
  max-width: 100%;
  height: auto;
  display: block;
}
#id-div-slide-show li {
  position: absolute;
  transition: 1s;
  opacity: 0;
}
#id-div-slide-show li.active {
  opacity: 1;
}
#id-div-slide-show li:last-of-type {
  position: relative;
}
#id-div-slide-show #id-div-controlers {
  background-color: red;
}
#id-div-slide-show #id-div-controlers .controler {
  display: inline-block;
  height: 64px;
  width: 40px;
  background-color: purple;
  position: relative;
  bottom: 200px;
  opacity: 0.4;
  transition: opacity 0.5s;
}
#id-div-slide-show #id-div-controlers .controler:hover {
  cursor: pointer;
  opacity: 1;
}
#id-div-slide-show #id-div-controlers .back {
  float: left;
  left: 150px;
  background: url(../images/controlers.png);
}
#id-div-slide-show #id-div-controlers .forward {
  float: right;
  right: 150px;
  background: url(../images/controlers.png) 0 64px;
}
#id-div-slide-show .key-count {
  text-align: center;
  letter-spacing: 6px;
  user-select: none;
}
#id-div-slide-show .key-count .key {
  display: inline-block;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background-color: white;
  font-size: 0px;
  opacity: 0.4;
  transition: 0.5s;
  position: relative;
  bottom: 60px;
}
#id-div-slide-show .key-count .key:hover {
  cursor: pointer;
  opacity: 1;
}
#id-div-slide-show .key-count .key.active {
  opacity: 1;
}
section.show-item-col {
  margin-top: 160px;
}
section.show-item-col .head {
  margin-bottom: 120px;
}
section.show-item-col .head .title {
  margin-bottom: 14px;
  color: #020c18;
  text-align: center;
  display: block;
  height: 35px;
  line-height: 35px;
  font-size: 35px;
  letter-spacing: 5px;
}
section.show-item-col .head .hr {
  font-size: 35px;
  display: block;
  margin: 0 auto;
  width: 2.5em;
  box-sizing: border-box;
  background-color: #00a1e9;
  border-radius: 5px;
  height: 7px;
}
section.show-item-col .head .title-eng {
  margin-top: 27px;
  letter-spacing: 10px;
  word-spacing: 10px;
  color: #4d4d4d;
  height: 28px;
  line-height: 28px;
  font-size: 28px;
  text-align: center;
  display: block ;
}
section.show-item-col .content {
  width: 79.16666667%;
  margin: 0 auto;
}
section.show-item-col .content.service-offerings .item {
  display: inline-block;
  width: 30.26315789%;
  margin-right: 1.64473684%;
  height: 682px;
  background-color: #fbfbfb;
}
section.show-item-col .content.service-offerings .item:last-of-type(1) {
  margin-right: 0;
}
section.show-item-col .content.service-offerings .item .top {
  line-height: 160px;
  height: 172px;
  text-align: center;
  font-size: 48px;
  letter-spacing: 4px;
  color: white;
  margin-bottom: 55px;
}
section.show-item-col .content.service-offerings .item .middle {
  margin-bottom: 76px;
}
section.show-item-col .content.service-offerings .item .middle .li {
  display: block;
  height: 62px;
  line-height: 62px;
  font-size: 26px;
  letter-spacing: 4px;
  margin-left: 18px;
}
section.show-item-col .content.service-offerings .item .middle .li::before {
  content: "\25CF";
}
section.show-item-col .content.service-offerings .item:nth-of-type(1) .top {
  background: url(../images/service-offerings.png) no-repeat 0 2px;
  background-size: 100% 300%;
}
section.show-item-col .content.service-offerings .item:nth-of-type(1) .middle .li::before {
  color: #00a1e9;
}
section.show-item-col .content.service-offerings .item:nth-of-type(2) .top {
  background: url(../images/service-offerings.png) no-repeat 0 -172px;
  background-size: 100% 300%;
}
section.show-item-col .content.service-offerings .item:nth-of-type(2) .middle .li::before {
  color: #fc7a28;
}
section.show-item-col .content.service-offerings .item:nth-of-type(3) .top {
  background: url(../images/service-offerings.png) no-repeat 0 -344px;
  background-size: 100% 300%;
}
section.show-item-col .content.service-offerings .item:nth-of-type(3) .middle .li::before {
  color: #36db74;
}
section.show-item-col .content.service-offerings .item .bottom {
  padding-left: 5.20833333%;
  padding-right: 5.20833333%;
  font-size: 21px;
  height: 110px;
  overflow: hidden;
  letter-spacing: 2px;
  color: #71767d;
}
section.show-item-col .content.filed-of-service {
  width: 100%;
}
section.show-item-col .content.filed-of-service .row:nth-of-type(1) {
  text-align: center;
  width: 79.16666667%;
  margin: 0 auto;
  margin-bottom: 30px;
}
section.show-item-col .content.filed-of-service .row:nth-of-type(1) .item {
  display: inline-block;
  width: 32%;
  margin: 0 auto;
  height: 680px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  vertical-align: top;
}
section.show-item-col .content.filed-of-service .row:nth-of-type(1) .item:nth-of-type(1) {
  float: left;
}
section.show-item-col .content.filed-of-service .row:nth-of-type(1) .item:nth-of-type(3) {
  float: right;
}
section.show-item-col .content.filed-of-service .row:nth-of-type(1) .item .blue-cover {
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  transition: 0.6s;
  box-sizing: border-box;
  padding-top: 240px;
}
section.show-item-col .content.filed-of-service .row:nth-of-type(1) .item .blue-cover .title {
  display: block;
  line-height: 36px;
  font-size: 36px;
  letter-spacing: 6px;
}
section.show-item-col .content.filed-of-service .row:nth-of-type(1) .item .blue-cover .description {
  display: block;
  padding: 0 37px 0;
  font-size: 25px;
  letter-spacing: 4px;
}
section.show-item-col .content.filed-of-service .row:nth-of-type(1) .item .blue-cover:hover {
  color: white;
  background-color: #00a1e9;
  opacity: 0.9;
}
section.show-item-col .content.filed-of-service .row:nth-of-type(1) .item .blue-cover:hover + h3 {
  transform: translateY(-516px);
}
section.show-item-col .content.filed-of-service .row:nth-of-type(1) .item h3 {
  display: block;
  height: 34px;
  line-height: 34px;
  text-align: center;
  position: relative;
  bottom: 86px;
  color: white;
  font-size: 36px;
  letter-spacing: 6px;
  transition: 0.6s;
}
section.show-item-col .content.filed-of-service .row:nth-of-type(1) .item h3:hover {
  transform: translateY(-516px);
}
section.show-item-col .content.filed-of-service .row:nth-of-type(1) .item:nth-of-type(1) {
  background: url(../images/filed-of-service-1.jpg);
}
section.show-item-col .content.filed-of-service .row:nth-of-type(1) .item:nth-of-type(2) {
  background: url(../images/filed-of-service-2.jpg);
}
section.show-item-col .content.filed-of-service .row:nth-of-type(1) .item:nth-of-type(3) {
  background: url(../images/filed-of-service-3.jpg);
}
section.show-item-col .content.filed-of-service .row:nth-of-type(2) {
  text-align: center;
  width: 79.16666667%;
  margin: 0 auto;
  margin-bottom: 30px;
}
section.show-item-col .content.filed-of-service .row:nth-of-type(2) .item {
  display: inline-block;
  width: 32%;
  margin: 0 auto;
  height: 680px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  vertical-align: top;
}
section.show-item-col .content.filed-of-service .row:nth-of-type(2) .item:nth-of-type(1) {
  float: left;
}
section.show-item-col .content.filed-of-service .row:nth-of-type(2) .item:nth-of-type(3) {
  float: right;
}
section.show-item-col .content.filed-of-service .row:nth-of-type(2) .item .blue-cover {
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  transition: 0.6s;
  box-sizing: border-box;
  padding-top: 240px;
}
section.show-item-col .content.filed-of-service .row:nth-of-type(2) .item .blue-cover .title {
  display: block;
  line-height: 36px;
  font-size: 36px;
  letter-spacing: 6px;
}
section.show-item-col .content.filed-of-service .row:nth-of-type(2) .item .blue-cover .description {
  display: block;
  padding: 0 37px 0;
  font-size: 25px;
  letter-spacing: 4px;
}
section.show-item-col .content.filed-of-service .row:nth-of-type(2) .item .blue-cover:hover {
  color: white;
  background-color: #00a1e9;
  opacity: 0.9;
}
section.show-item-col .content.filed-of-service .row:nth-of-type(2) .item .blue-cover:hover + h3 {
  transform: translateY(-516px);
}
section.show-item-col .content.filed-of-service .row:nth-of-type(2) .item h3 {
  display: block;
  height: 34px;
  line-height: 34px;
  text-align: center;
  position: relative;
  bottom: 86px;
  color: white;
  font-size: 36px;
  letter-spacing: 6px;
  transition: 0.6s;
}
section.show-item-col .content.filed-of-service .row:nth-of-type(2) .item h3:hover {
  transform: translateY(-516px);
}
section.show-item-col .content.filed-of-service .row:nth-of-type(2) .item:nth-of-type(1) {
  background: url(../images/filed-of-service-4.jpg);
}
section.show-item-col .content.filed-of-service .row:nth-of-type(2) .item:nth-of-type(2) {
  background: url(../images/filed-of-service-5.jpg);
}
section.show-item-col .content.filed-of-service .row:nth-of-type(2) .item:nth-of-type(3) {
  background: url(../images/filed-of-service-6.jpg);
}
section.show-item-col .content.cases {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
section.show-item-col .content.cases .item {
  display: inline-block;
  height: 310px;
  width: 30%;
}
section.show-item-col .content.cases .item:nth-of-type(1) {
  float: left;
}
section.show-item-col .content.cases .item:nth-of-type(3) {
  float: right;
}
section.show-item-col .content.cases .item img {
  display: block;
  max-width: 100%;
  height: auto;
  opacity: 0.8;
  transition: 0.7s;
}
section.show-item-col .content.cases .item img:hover {
  opacity: 1;
}
section.show-item-col .content.cases .item .title {
  display: block;
  height: 48px;
  line-height: 48px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 4px;
  position: relative;
  bottom: 48px;
  color: white;
  background-color: rgba(71, 191, 255, 0.9);
  transition: 0.7s;
}
section.show-item-col .content.cases .item .title:hover {
  text-decoration: underline;
}
section.show-item-col .content.partners {
  width: 68.75%;
  margin-bottom: 250px;
}
section.show-item-col .content.partners .row {
  display: flex;
  justify-content: space-between;
}
section.show-item-col .content.partners .item img {
  display: block;
}
section.show-item-col .content.partners .item:hover .normal {
  display: none;
}
section.show-item-col .content.partners .item:hover .color {
  display: block;
}
section.show-item-col .content.partners .item .color {
  display: none;
}
footer {
  margin: 0 auto;
  background: url(../images/footer.jpg) no-repeat;
  background-size: cover;
  padding-top: 100px;
}
footer span {
  display: block;
  text-align: center;
  color: white;
}
footer .title {
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  margin-bottom: 59px;
}
footer .item {
  margin-top: 24px;
  height: 18px;
  line-height: 18px;
}
footer .item:last-of-type {
  padding-bottom: 200px;
}
