@import "./init.less";

@import "./header.less";

@import "./show-item-col.less";

body {
    min-width: 1520px;
}

section.show-item-row{
    margin: 0 auto;
    margin-top: 160px; //隔开每个show-item
    width: 1520px;
    .head {
        display: inline-block;
        vertical-align: top;
        margin-top: 82px;
        width: 198px;
        margin-right: 170px;
        .title {
            // indpendent
            margin-bottom: 14px;
            color: #020c18;
            // text-align: center;
            display: block;
            height: 35px;
            line-height: 35px;
            font-size: 35px;
            letter-spacing: 3px;

        }
        .hr {
            // indpendent
            font-size: 35px;
            display: block;
            // margin: 0 auto;
            width: 4.6em; //注册letter spacing 导致标准em无法覆盖字体对等长度
            box-sizing: border-box;
            background-color: #00a1e9;
            border-radius: 5px; //!!!!!!!!!!!!!!!!设计图未要求
            height: 7px;
        }
        .title-eng {
            margin-top: 27px; 
            //indentpendent
            letter-spacing: 2px;
            word-spacing: 10px;
            color: rgba(0, 0, 0, 0.6);
            height: 24px;
            line-height: 24px;
            font-size: 22px;
            // text-align: center;
            display: block ;
            // width: 473px;
        }
    }
}

#id-div-pic {
    width: 100%;
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    span {
        display: block;
        text-align: center;
        color: white;
    }
    padding-top: 186px;

    background: url(../images/3-top-img.jpg);
    background-size: cover;
    height: 284px;
    .title {
        margin: 0 auto;
        height: 48px;
        line-height: 48px;
        font-size: 48px;
        margin-bottom: 44px;
        font-weight: bold;
    }

    .description {
        margin: 0 auto;
        height: 30px;
        line-height: 30px;
        font-size: 30px;
    
    }
}




section.show-item-col .content {
    width: 1520px;
    margin: 0 auto;

    &.demands {


        .item {
            height: 110px;
            padding-left: 100px;
            &.demand{height: auto !important; margin-bottom: 60px;}
            // width: 80%;
            
            .title {
                display: inline-block;
                height: 72px;
                line-height: 72px;
                letter-spacing: 4px;
                width: 12%;
                font-size: 24px;
                vertical-align: top;
            }

            input, textarea {
                display: inline-block;
                width: 82%;
                height: 72px;
                font-size: 24px;
                border-radius: 13px;
                outline: none;
                padding-left: 27px;
                border: 2px solid #8a8a8a;
            }
            textarea {
                height: 320px;
                padding: 25px;
                font-size: 28px;
                width: 84.5%;
                box-sizing: border-box;
                // font-weight: 400;
            }
        }


        .isok {
            margin-bottom: 64px;
            &.true {
                display: block;
            }
            &.false {
                display: none;
            }

            img {
                display: block;
                margin: 0 auto;
                margin-top: 312px;
                margin-bottom: 82px;
            }

            span {
                margin: 0 auto;
                display: block;
                font-size: 36px;
                text-align: center;
            }


        }
    }

    &.typical-cases {
        width: 100%;
        margin: 0;
        .rest {
            div {display: inline-block; vertical-align: top;}
            margin: 0 auto;
            width: 1330px;
            .item {
                
                width: 317px;
                margin-top: 183px;
                text-align: center;
                .wrap-img {
                    height: 345px;
                    width: 268px;
                    margin: 0 auto;
                    margin-bottom: 79px;
                    // margin: 0 auto;
                }
                .title {
                    display: block;
                    font-size: 30px;
                    line-height: 30px;
                    letter-spacing: 3px;
                    text-align: center;
                    // width: 395px;
                    color: rgba(0, 0, 0, 0.6);
                } 
            }
            .hr-col {
                height: 184px;
                width: 2px;
                margin: 254px 84px 0;
                background-color: #909090;
            }
        }

        .wrap{
            height: 704px;
            background-image: url(../images/typical-cases-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            .item {
                opacity: 0;
                transition: 1s;
                &:hover {
                    cursor: pointer;
                }
            }
            .active {
                opacity: 1;
                z-index: 1;
            }

            .img {
                position: absolute;
                width: 946px;
                height: 640px;
                left: 17%;
                bottom: 20%;
                
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .description {
                left: 58%;
                bottom: 10%;
                width: 464px;
                height: 414px;
                background-color: #fff;
                position: absolute;
                box-sizing: border-box;
                padding: 58px 30px 0;
                span {
                    display: block;
                    color:black;
                }
                .title {
                    display: inline-block;
                    height: 42px;
                    line-height: 42px;
                    font-size: 24px;
                    color: #051a21;
                    letter-spacing: 2px;
                    border-bottom: 4px solid #00c0ff;
                    margin-bottom: 39px;
                }
                .sub-title {
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 20px;
                    height: 18px;
                    letter-spacing: 3px;
                }
                .rest-content {
                    width: 386px;
                    font-size: 18px;
                    color: rgba(5, 26, 33, 0.8);
                    letter-spacing: 1px;
                }
            }
        }
    }
}

section.show-item-row .content {
    width: 1096px;
    &.environment {
        display: inline-block;
        .row {
            margin-bottom: 64px;
        }
        .item {
            // vertical-align: ;

            display: inline-block;
            height: 238px;
            width: 160px;
            padding-top: 45px;
            margin-right: 140px;
            &:last-of-type {margin-right: 0;}
            .wrap {
                height: 175px;
                line-height: 175px;
                text-align: center;
                &::before {
                    content: "\2002";
                    display: block;
                    height: 1px;
                    width: 1px;
                    font-size: 0;
                    position: relative;
                    top: 46px;
                    left: 86px;
                }
            }
            img {
                display: inline-block;
                margin: 0 auto;
                margin-bottom: 25px;
                vertical-align: middle;
                
            }
            .title {
                display: block;
                margin: 0 auto;
                text-align: center;
                color: rgba(0, 0, 0, 0.6);
                font-size: 18px;
                line-height: 18px;
            }
            &:hover {
                .title {
                    font-weight: bold;
                }
                .wrap {
                    &::before {
                        // visibility: visible;
                        box-shadow: 0px 25px 233px 44px #00a8ff;
                    }
                }
                
            }
        }
    }
}
div.demands-title {
    height: 36px;
    font-size: 36px;
    color: #00c0ff;
    text-align: center;
    margin-bottom: 83px;
}

.btn {
    text-align: center;
    button {
        width: 360px;
        height: 80px;
        line-height: 80px;
        font-size: 36px;
        letter-spacing: 4px;
        background-color: #00c0ff;
        border-radius: 40px;
        color: white;
        outline: none;
        cursor: pointer;
    }
    margin-bottom: 72px;
}


@import "./footer-other.less";